br {
  padding-top: 10px;
  padding-bottom: 10px;
}
.seperator {
  height: 1px;
  padding: 30px;
}
.App {
  align-items: center;
}
.construction {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.posts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.tweet {
  font-size: 20px;
}