
header {
  display: flex;
  .HeaderItems {
    display: inherit;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    align-items: center;
    width: auto;
    .Title {
      font-family: Arial, Helvetica, sans-serif;
    }
    li {
      padding-right: 2%;
    }
  }
}
