
header {
  display: flex;
  justify-content: space-between;
  nav .HeaderItems {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    align-items: center;
    width: auto;
    li {
      align-items: center;
      width: auto;
      margin: 10px;
    }
  }
  .Profile .Alters{
    justify-content: flex-end;
    list-style: none;
    display: flex;
    li {
      width: auto;
      margin: 10px;
    }
  }
}
